<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
   <!-- <add name="TechSupportApp.Properties.Settings.TechSupportConnectionString"
        connectionString="Data Source=DESKTOP-GNOQRKG\SQLEXPRESS;Initial Catalog=TechSupport;Integrated Security=True"
        providerName="System.Data.SqlClient" />-->
    <add name="connectionString" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=TechSupport;Integrated Security=True"/>
   <!-- <add name="memeconnectionstring" connectionString="Data Source=DESKTOP-GNOQRKG\SQLEXPRESS;Initial Catalog=TechSupport;Integrated Security=True"/>-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
